body, html {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', serif;
  background-color: #121212;
}
#map {
  height: 100vh;
  width: 100%;
}

/* Leaflet Zoom */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #6fc7d7 !important;
  color: #000 !important;
  font-weight: bold;
  font-size: 1.4em;
}

/* Leaflet Layer Box */
.leaflet-control-layers {
  font-size: 1em;
  background: #1a1a1a;
  color: #ccc;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #333;
}
.leaflet-control-layers label {
  display: block;
  padding: 6px 0;
}

/* Popup Box Styling */
.leaflet-popup-content {
  font-size: 1.1em;
  color: #ddd;
  line-height: 1.6;
}
.leaflet-popup-content-wrapper {
  background: #1e1e1e;
  border-radius: 10px;
  border: 1px solid #555;
}

/* Measurement Button */
#toggleMeasure {
  display: block;
  font-size: 1.1em;
  padding: 10px 8px;
  background: #222;
  color: #6fc7d7;
  text-align: center;
  border: 1px solid #333;
  font-family: 'Cinzel', serif;
  transition: all 0.3s ease;
}
#toggleMeasure:hover {
  background: #6fc7d7;
  color: #000;
}
